body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.fa-star {
  margin: 0.5em;
  font-size: 24px !important;
}

#app {
  align-content: center;
}

#refresh-btn {
  margin-left: 25px;
}

#refresh-btn i {
  position: relative;
  margin-right: 10px;
}

#done-frame {
  position: relative;
  top: -20px;
}

span {
  display: inline-block;
  margin: 0.5em;
  text-align: center;
  background-color: #ccc;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  width: 35px;
}

.selected {
  background-color: #eee;
  color: #ddd;
  cursor: not-allowed;
}

.used {
  background-color: #aaddaa;
  color: #99bb99;
  cursor: not-allowed;
}

.card {
  top: 70px;
  border: solid;
  position: relative;
}

.game-row {
  height: 70px;
}